
<div>
    @Html.TextBox("tags", null, new { placeholder = "Search Images.." })
    <h2>Share</h2>
</div>

<div id="results">
    <ul class="clearfix">
        <li>
            <div class="imgResult">               
            </div>
        </li>
    </ul>
</div>
<div id="#ladiv">

</div>

